body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

header {
    background-color: #004a8f;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.button-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.button-container a {
    text-decoration: none;
}

.btn-custom {
    background-color: #004a8f;
    color: white;
    font-size: 1.2em;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #003366;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px 0;
    background-color: #e9f5f9;
}